//-base class ki frame mai kaam karega and navigation bar isme banane ki zarorat nai 
//-nodemon app.js krna images aa jaayengi
extends base.pug

block scripts 
   script(src='./static/index.js')
block style 
    style 
      include ../static/style.css
block content 
    
     section#intro 
      div WELCOME TO DANCE ACADEMY 
       
      div.small EAT SLEEP DANCE REPEAT
       
     section#mission
    
        h2 Our Mission
        div.card
         h3 HIP-HOP
         div.card-box
           div.card-image
             img(src ="../static/ben-wiens-Qcl98B8Bk3I-unsplash.jpg") 
           div.card-content 
             p this is about the hiphop  and all five elements of the hip hop
        div.card
         h3 Classical
         
        
         div.card-box
           div.card-image
             img(src ="../static/saksham-gangwar-wWiEThMgY94-unsplash.jpg") 
           div.card-content 
             p this is about the classical stuff and also all the classical stuff is taught by
        div.card
         h3 Break Dance
         
         
         div.card-box
           div.card-image
             img(src ="../static/breakreate-A_IfOgYEQU4-unsplash.jpg") 
           div.card-content 
             p this is about the break dapeoplelnce and everything is taught by professional 
     section#sponser 
      h2 Our Sponsers
      div.sponserimage
       img(src="./static/1.jpg" ,class="simage" )
       img(src="./static/2.jpg" ,class="simage" )
       img(src="./static/3.jpg" ,class="simage" )
       img(src="./static/4.jpg" ,class="simage" )
     
 
     

